<h1>Legacy System Import Tool</h1>
<% if @file_upload.errors.any? %>
  <div id="error_explanation">
    <h2>Oops!</h2>
    <ul>
    <% @file_upload.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @file_upload, url: {action: "parse"}, html: {multipart: true} do |f| -%>
  <%= f.label :file, "Upload the tab-delimited (.tab) file from our legacy system:" %>
  <%= f.file_field :file %>
  <%= f.submit "Import", data: { disable_with: 'Importing...' } %>
<% end -%>